<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">

  <!-- wp:query {"query":{"postType":"activity","perPage":9},"layout":{"type":"grid","columnCount":3}} -->
<div class="wp-block-query">
  <!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group acitivity-column-more">
  <!-- wp:post-featured-image {"isLink":true,"sizeSlug":"medium"} /-->
  <!-- wp:post-title {"isLink":true, "textAlign":"center"} /-->
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
      <p class="has-text-align-center has-medium-font-size"><strong>What to Expect:</strong></p>
    <!-- /wp:paragraph -->
  <!-- wp:post-excerpt {"moreText":"Read more"} /-->
  </div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- /wp:post-template -->

    <!-- wp:query-pagination -->
    <div class="wp-block-query-pagination">
      <!-- wp:query-pagination-previous /-->
      <!-- wp:query-pagination-numbers /-->
      <!-- wp:query-pagination-next /-->
    </div>
    <!-- /wp:query-pagination -->

  </div>
  <!-- /wp:query -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
